@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Inter:wght@400;500;700&family=Permanent+Marker&display=swap');
@import "tailwindcss";

@theme {
  /* Display font for big headings */
  --font-display: "Oswald", sans-serif;

  /* Clean UI body font */
  --font-inter: "Inter", sans-serif;

  /* Handwritten style */
  --font-marker: "Permanent Marker", cursive;
}
